.cm-blockid {
    color: var(--text-faint) !important;
    opacity: 0.25 !important;
    font-style: italic;
    font-size: 8px !important;
    top: -0.2em !important;
}

.cm-line:has(.cm-blockid) + .cm-line {
    line-height: 8px;
}

.cm-hmd-internal-link.cm-link-alias {
    opacity: 0.3; /* or whatever you wanna do */
}

.cm-hmd-internal-link.cm-link-alias.cm-list-1 {
    opacity: 1 !important;
}